@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* ----------------------------------------------------- Global */

* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  outline: none;
}

.light {
  --background-main: white;
  --background-accent: rgb(222, 244, 123);
  --button-border: 2px darkgrey solid;
  --text-color: rgb(30, 30, 30);
  --progress-bar: rgb(222, 244, 123);
  --progress-background: lightgrey;
}

.dark {
  --background-main: rgb(30, 30, 30);
  --background-accent: rgb(140, 158, 64);
  --button-border: 2px lightgrey solid;
  --text-color: rgb(223, 223, 223);
  --progress-bar: rgb(140, 158, 64);
  --progress-background: black;
}

.box {
  border: 2px darkgrey solid;
}

/* ----------------------------------------------------- Body & Hero */

body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.6px;
  background: var(--background-main);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

#hero {
  position: relative;
  margin: 5vw;
  width: 100%;
}

/* ----------------------------------------------------- Status Section */

#status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 12vw;
  width: 28vw;
  left: 3vw;
  top: 3vw;
}

.status-guage {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.statusCount {
  font-size: 3vh;
  color: var(--text-color);
  margin: 1vh 1vw;
  padding: 1vh 0 1vh;
}

.bar::-webkit-progress-bar {
  background-color: var(--progress-background);
  border-radius: 6px;
  height: 2vh;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.60);
}

.bar::-webkit-progress-value {
  background: var(--progress-bar);
  border-radius: 6px;
  border: 1px darkgrey solid;
  -webkit-box-shadow: inset 1px -3px 3px -2px rgba(0,0,0,0.60);
}

.bar {
  background: none;
	border-radius: 2px;
  margin: 1vh 1vw 1vh 0;
  width: 10vw;
  flex: 1;
}

/* ----------------------------------------------------- Navigation */

header {
 position: relative;
 top: -4vh;
 left: 33vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 38vw;
}

h1 {
  color: rgb(107, 107, 107);
  background: var(--background-main);
  text-align: center;
  font-size: 4vw;
  height: 5vw;
  width: 38vw;
  margin: 0;
  padding: 4vw;
  border-radius: 15px;
  z-index: 4;
  -webkit-box-shadow: 4px 3px 4px -2px rgba(0,0,0,0.75);
}

#nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  left: 45vw;
  top: 8vh;
  z-index: 4;
}
.nav-button {
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-main);
  color: var(--text-color);
  border-radius: 5px;
  width: 8vw;
  height: 5vw;
  -webkit-box-shadow: 4px 3px 4px -2px rgba(0,0,0,0.75);
}

.nav-button:active {
  -webkit-box-shadow: 4px 2px 2px -2px rgba(0,0,0,0.75);
}

/* ----------------------------------------------------- Name/Age Section */

#container-name-age {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  top: -20vh;
  left: 73vw;
  width: 15vw;
  height: 40vh;
 }

#name-age {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3vh;
  color: var(--text-color);
  background: var(--background-main);
  height: 6vw;
  width: 15vw;
}

#name-age p {
  margin: 1vw;
}

#rename {
  font-size: 2.5vh;
  background: var(--background-accent);
  border: var(--button-border);
  border-radius: 5px;
  width: 15vw;
  height: 6vh;
}

#rename-active {
  background: var(--background-accent);
  border: var(--button-border);
  border-radius: 5px;
  width: 15vw;
  height: 16vh;
}

#rename-active-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 13vw;
  height: 16vh;
}

#submit {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  text-align: center;
  margin: 0 0 1.5vw 0;
}

#input {
  font-size: 1.5vw;
  height: 2vw;
  width: 11.2vw;
  margin: 1vw 0 0 0;
}

/* ------------------------------------------------------- Play Button */

#play {
  height: 12vh;
  background: var(--background-accent);
  -webkit-box-shadow: 4px 5px 6px -2px rgba(0,0,0,0.75);
}

#play:active {
  -webkit-box-shadow: 4px 3px 4px -2px rgba(0,0,0,0.75);
}

p #play-icon {
  color: rgb(107, 107, 107);
  font-size: 5vh;
  padding: 4px;
}

/* ---------------------------------------------------------- Morphing */

#still-salo {
  position:absolute;
  bottom: 19vh;
  left: 51.5vw;
  height: 22vh;
  opacity: 1;
}

#baby-sleep{
  height: 22vh;
  opacity: 0;
}

#baby-salo {
  height: 30vh;
  opacity: 0;
} 

#teen-sleep{
  height: 30vh;
  opacity: 0;
}

#teen-salo {
  height: 40vh;
  opacity: 0;
}

#adult-sleep{
  height: 40vh;
  opacity: 0;
}

#adult-salo {
  height: 51vh;
  opacity: 0;
}


.salo {
  position:absolute;
  bottom: 17vh;
  left: 50vw;
  transform: scaleX();
}

.sleep{
  bottom: 19vh;
  left: 51vw;
}
/* ---------------------------------------------------------- Care Buttons */

footer {
  position: absolute;
  background: var(--background-main);
  align-self: flex-end;
  height: 12vw;
  width: 35vw;
  border-radius: 15px;
  left: 7vw;
  bottom: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 4px 3px 4px -2px rgba(0,0,0,0.75);
}

.care-button {
  font-size: 1.4vw;
  background: var(--background-accent);
  color: var(--text-color);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: 2px darkgrey solid;
  -webkit-box-shadow: 4px 5px 6px -2px rgba(0,0,0,0.75);
}

.care-button:active {
  -webkit-box-shadow: 4px 3px 3px -2px rgba(0,0,0,0.75);
}

/* ---------------------------------------------------------- Modal */

.popup-content {
  position: relative;
  width: 50vw;
  height: 60vh;
  background: var(--background-accent);
  opacity: 1;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);
}

.popup-flex {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  justify-content: space-around;
  align-items: center;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.75;
  z-index: 5;
}

.quote {
  font-size: 3vh;
  line-height: 3.3vh;
  padding: 2vh 1vh;
  margin: 0;
  width: 40vw;
}

.popup-content h2 {
 font-size: 2vw;
 margin-top: 7vh;
 width: 40vw;
}

.close {
  font-size: 3vh;;
  height: 4vh;
  border-radius: 10px;
  margin-bottom: 3vh;
}

/* ----------------------------------------------------- Credit */

.spaceship {
  position: absolute;
  width: 30vw;
  right: 0;
  bottom: 0;
}

/* ----------------------------------------------------- Credit */

.credit {
  color: var(--text-color);
  position: absolute;
  font-size: 1.8vh;
  bottom: 2vh;
  right: 2vw;
}

#link {
  color: rgb(140, 158, 64);
}



